* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    min-width: 200px;
    background-image: url("img/chatBackground.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}   

main {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

header {
    background-color: steelblue;
    border-top: 1px solid whitesmoke;
    margin-top: 5px;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}

h1, h3 {
    color: whitesmoke;
    text-align: center;
    margin-top: 15px;
}

li {
    width: 50%;
    min-width: 250px;
    max-width: 80ch;
    margin: 10px 20px 10px 20px;
    list-style-type: none;
    text-align: left;
    padding: 15px;
    overflow-wrap: break-word;
}

.user {
    float: right;
    clear: both;
    border-radius: 25px 25px 5px 25px;
    background-color: rgb(220, 250, 220);
}

.other {
    float: left;
    clear: both;
    border-radius: 25px 25px 25px 5px;
    background-color: rgb(230, 230, 230);
}

img {
    float: right;
    margin-top: -15px;
    width: 16px;
}
img:hover {
    transform: scale(1.5);
    opacity: 0.7;
}

div {
    padding: 10px;
}

p:nth-child(1) {
    font-size: larger;
}

p:nth-child(2) {
    font-size: smaller;
    color: darkgrey;
    padding-top: 10px;
}

span {
    font-weight: bold;
    color: midnightblue;
}

div span {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    color: darkgrey;
}

.inp {
    width: 50%;
    min-width: 150px;
    padding-top: 3px;
    padding-bottom:3px;
    margin-top: 15px;
}

textarea {
    margin-bottom: -9px;
    min-height: 26px;
    max-height: 150px;
    max-width: 100%;
    resize: vertical;
}

nav button {
    background-color: steelblue;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    width: 24%;
    min-width: 150px;
    border-radius: 5px;
    margin-top: 15px;
}

button:hover, .actionBtn:hover {
    background-color: midnightblue;
    color: whitesmoke;
}

.pressed {
    background-color: midnightblue;
    opacity: 0.7;
    color: whitesmoke;  
}

nav, section, form, header {
    width: 60%;
    left: 50%;
    margin-left: -30%;
    position: relative;
}

section {
    height: 60vh;
    margin-top: 15px;
}

section, textarea {
    overflow: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: steelblue whitesmoke;
}

.actionBtn {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
    min-width: 70px;
    background-color: steelblue;
    color: whitesmoke;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    nav, section, form {
        width: 96%;
        margin-left: -48%;
    }
    li {
        max-width: 35ch;
    }
    header {
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        border-radius: 0;
    }
    .inp {
        width: 60%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    nav, section, form, header {
        width: 80%;
        margin-left: -40%;
    }
}