* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3 {
    color: purple;
}

.inp {
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
}

button {
    background-color: purple;
    padding: 5px 55px 5px 55px;
    color: white;
    width: 200px;
}

section {
    height: 300px;
    width: 800px;
}

#btnSend, #btnUpdate {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 150px;
    background-color: purple;
    color: white;
}